{% extends 'femacronyms/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'femacronyms/style.css' %}">

    <h3><a href="/">Apps home</a></h3>
    <br/>
    <h3>Acronym of the day</h3>
    <p>{{ acronym }}: {{ fulltext }}</p>
    <br/>
    <h3><a href="/femacronyms/query">Search for acronyms</a></h3>
    <br/>
    <h3><a href="/femacronyms/all">Or see all acronyms</a></h3>
    <br/>
    <p>(See this project on 
        <a href="https://github.com/TashaArvanitis/femacronyms">GitHub</a>)</p>

{% endblock %}
